<!-- HEADER -->
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <!-- Button to go back to Home Page -->
      <button ion-button (click)="goToHomePage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Archives</ion-title>
  </ion-toolbar>
</ion-header>

<!-- CONTENT -->
<ion-content class="card-background-page">

    <!-- Rows of 2 cards each -->
    <ion-grid>

      <ion-row *ngFor="let row of archiveCardsRows">
        <ion-col width-50 *ngFor="let card of row">

          <ion-card>
            <div class="card-title-archive" (click)="restoreCard(card)">
              <ion-icon name="undo" class="restore" id="restore-black" *ngIf="card.isArchive"></ion-icon>
              <ion-icon name="undo" class="restore" id="restore-grey" *ngIf="!card.isArchive"></ion-icon>
              <div class="card-h1">
                {{card.title}}
               </div>
              <div class="compare-done">
                <ion-row>
                  <ion-col width-50 *ngFor="let c of card.stats.candidacies">
                    <img class="candidate-photo" src={{c.candidates[0].photo.sizes.small.url}}>
                  </ion-col>
                </ion-row>
              </div>
            </div>

            <img src={{card.image}}/>

          </ion-card>
        </ion-col>

      </ion-row>

    </ion-grid>

</ion-content>
