<!-- HEADER -->
<ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>

    <!-- Button to access ArchivePage -->
    <ion-buttons end>
      <button ion-button (click)="goToArchivePage()">
        <ion-icon name="archive"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- CONTENT -->
<ion-content class="card-background-page">

  <!-- Segment between 'all' cards and 'favorite' ones -->
  <div padding>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="all">
        Toutes
      </ion-segment-button>
      <ion-segment-button value="fav">
        Favoris
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="selectedSegment">

  <!-- Default : show 'all' cards -->
    <ion-grid *ngSwitchCase = "'all'">

      <!-- Rows of 2 cards each -->
      <ion-row *ngFor="let row of cardsRows">
        <ion-col width-50 *ngFor="let card of row">

          <ion-card>
            <div class="card-title" (click)="openCard(card)" *ngIf="isSwipeCard(card)">
              {{card.title}}
              <div *ngFor="let photo of getPhotos(card)">
                <img src={{photo}}/>
              </div>
            </div>

            <img src={{card.image}} (click)="openCard(card)"/>

            <ion-item>
              <ion-row>

                <!-- Mark a card as favorite -->
                <button ion-button clear icon-left small (click)="starCard(card)">
                  <ion-icon *ngIf="card.isStar" name="star"></ion-icon>
                  <ion-icon *ngIf="!card.isStar" name="star-outline"></ion-icon>
                </button>

                <!-- Mark a card as archive -->
                <button ion-button clear icon-only small (click)="archiveCard(card)">
                  <ion-icon name="archive"></ion-icon>
                </button>
              </ion-row>
            </ion-item>

          </ion-card>
        </ion-col>

      </ion-row>

    </ion-grid>

    <!-- Show only favorite cards -->
    <ion-grid *ngSwitchCase = "'fav'">

      <ion-row *ngFor="let row of starCardsRows">
        <ion-col width-50 *ngFor="let card of row">

          <ion-card>
            <div class="card-title" (click)="openCard(card)" *ngIf="isSwipeCard(card)">
              {{card.title}}
            </div>

            <img src={{card.image}} (click)="openCard(card)"/>

            <ion-item>
              <ion-row>

                <button ion-button clear icon-left small (click)="starCard(card)">
                  <ion-icon *ngIf="card.isStar" name="star"></ion-icon>
                  <ion-icon *ngIf="!card.isStar" name="star-outline"></ion-icon>
                </button>

                <button ion-button clear icon-only small (click)="archiveCard(card)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </ion-row>
            </ion-item>

          </ion-card>
        </ion-col>

      </ion-row>


    </ion-grid>

  </div>
</ion-content>
