ion-card {
  position: relative;
  text-align: center;
}

.card-title {
  position: absolute;
  top: 25%;
  left: 15%;
  font-size: 0.55em;
  line-height: 1.5em;
  font-weight: 700;
  font-family: Montserrat, Open Sans, sans-serif;
  width: 70%;
  color: #A349A4;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#question {
  color: black;
  margin-top: -100%;
  margin-bottom: 5%;
  font-size: 4em;
}

.card-h1 {
  background-color: white;
}

.candidate-photo {
  border-radius: 50%;
}

.compare-done {
  margin-top: 5px;
}

.compare-not-done-yet {
  margin-top: 15px;
  background-color: white;
  color: #27ccc0;
  font-weight: 200;
  font-size: 0.6em;
}
