<!-- HEADER -->
<ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>

    <ion-buttons end>
      <button ion-button (click)="goToFavoritesPage()">
        <ion-icon name="star"></ion-icon>
      </button>
      <button ion-button (click)="goToArchivePage()">
        <ion-icon name="archive"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- CONTENT -->
<ion-content class="card-background-page">

  <!-- Segment between 'all' cards, 'info' cards and 'swipe' cards -->
  <div padding>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="all">
        Toutes
      </ion-segment-button>
      <ion-segment-button value="info">
        S'informer
      </ion-segment-button>
      <ion-segment-button value="swipe">
        Comparer
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="selectedSegment">

  <!-- Default : show 'all' cards -->
    <ion-grid *ngSwitchCase = "'all'">

      <!-- Rows of 2 cards each -->
      <ion-row *ngFor="let row of cardsRows">
        <ion-col width-50 *ngFor="let card of row">

          <ion-card>
            <div class="card-title" (click)="openCard(card)" *ngIf="isSwipeCard(card)">
              {{card.title}}
            </div>

            <img src={{card.image}} (click)="openCard(card)"/>

          </ion-card>
        </ion-col>

      </ion-row>

    </ion-grid>

    <!-- Show only Info cards -->
    <ion-grid *ngSwitchCase = "'info'">

      <ion-row *ngFor="let row of infoCardsRows">
        <ion-col width-50 *ngFor="let card of row">

          <ion-card>
            <img src={{card.image}} (click)="openCard(card)"/>
          </ion-card>
        </ion-col>

      </ion-row>


    </ion-grid>


    <!-- Show only 'swipe' cards -->
    <ion-grid *ngSwitchCase = "'swipe'">
      <ion-row *ngFor="let row of swipeCardsRows">
        <ion-col width-50 *ngFor="let card of row">

          <ion-card>
            <div class="card-title" (click)="openCard(card)">
              {{card.title}}
            </div>

            <img src={{card.image}} (click)="openCard(card)"/>

          </ion-card>
        </ion-col>

      </ion-row>

    </ion-grid>


  </div>
  <!-- Fab to generate a Quizz -->
  <ion-fab right bottom>
    <button ion-fab (click)="generateQuizz()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
