<ion-header>
  <ion-navbar>
    <ion-title>S'informer</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-left small (click)="starCard(activeCard)">
        <ion-icon *ngIf="activeCard.isStar" name="star"></ion-icon>
        <ion-icon *ngIf="!activeCard.isStar" name="star-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!isHTML">
    <div *ngFor="let link of infoUrl">
      <img src={{link}}/>
    </div>
  </div>
  <div *ngIf="isHTML" style="height: 100%;">
    <iframe [src]='infoUrl' width="100%" height="100%" frameborder="0"></iframe>
  </div>
</ion-content>
