<ion-header>
  <ion-navbar>
    <ion-title>S'informer</ion-title>
    <!--<ion-buttons end>-->
      <!--<button ion-button clear icon-left small (click)="starCard(card)">-->
        <!--<ion-icon *ngIf="card.isStar" name="star"></ion-icon>-->
        <!--<ion-icon *ngIf="!card.isStar" name="star-outline"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content class="info">
  <div *ngFor="let link of infoUrl">
  	<img src={{link}}/>
  </div>
</ion-content>
