.info {
	ion-item {
		background-color: #ff5a5f;
	}

	.info-title {
		position: relative;
		text-align: center;
		font-weight: bold;
		font-weight: "Montserrat";
		font-variant: small-caps;
		color: #ffffff;
	}
}