.swipe {

  background: #F5F5F5;

  ion-card-header {
    p {
      position: absolute;
      right: 10px;
      top: 10px;
    }
    h2 {
      margin-top: 24px;
    }
    img {
      margin-top: 12px;
      display: inline;
      height: 24px;
      width: 24px;
    }
  }

  #card-stack {
    width: 90%;
    height: 65%;
    position: fixed;
    margin: 0 auto 0 auto;
    z-index: 999;
  }

  #card-stack ion-card {
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: 3%;
    height: 100%;
  }

  // ion-card {
  //   img {
  //     display: inline;
  //     height: 24px;
  //     width: 24px;
  //   }
  // }

  ion-card-content div {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 5%;
    right: 5%;
  }


  .vote-buttons {
    text-align: center;
    left: 0;
    right: 0;
    position: fixed;
    top: 82%;
    display: block;
  }

  #undo {
    position: fixed;
    top: 90%;
  }

  #approve {
    color: green;
    text-transform: uppercase;
  }

  #unapprove{
    color: red;
    text-transform: uppercase;
  }

  #undo-button {
    color: #666;
  }

  .buttons {
    position: fixed;
    top: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    .unapproved {
      text-align: center;
      text-transform: uppercase;
      color: red;
    }
    .undo {
      text-align: center;
      text-transform: uppercase;
      color: gray;
    }
    .approved {
      text-align: center;
      text-transform: uppercase;
      color: green;
    }
    // .width-37 {
    //   -webkit-flex: 0 0 37%;
    //   -ms-flex: 0 0 37%;
    //   flex: 0 0 37%;
    //   max-width: 37%;
    // }
    // .width-26 {
    //   -webkit-flex: 0 0 26%;
    //   -ms-flex: 0 0 26%;
    //   flex: 0 0 26%;
    //   max-width: 26%;
    // }
  }

}
