<!--HEADER-->
<ion-header>
  <ion-navbar>
    <ion-title>Comparer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="swipe" padding>

<!--TODO: Add a loader when it will be available-->
<!--https://forum.ionicframework.com/t/loader-spinner/42007/8-->

<!--STACK OF CARDS-->
  <div swing-stack #myswing1 id="card-stack"
       [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)">
    <ion-card #mycards1 swing-card *ngFor="let p of toSwipePropositions">
      <!--TITLE-->
      <ion-card-header>
        <p>{{swipedPropositions.length+1}}/{{toSwipePropositions.length+swipedPropositions.length}}</p>
        <!--TODO: Use the tag and the image from the proposition object here-->
        <h2>{{tags[0].name}}</h2>
        <img src="{{getIcon(tags[0], 0)}}">
      </ion-card-header>
      <!--CONTENT-->
      <ion-card-content><div>{{p.text}}</div></ion-card-content>
    </ion-card>
  </div>

<!--BUTTONS-->
  <ion-row class="buttons">
    <!--UNAPPROVED-->
    <ion-col class="unapproved width-37" (click)="voteUp(false)">
      <ion-icon name="close"></ion-icon>
      <p>Désapprouver</p>
    </ion-col>
    <!--CANCEL-->
    <ion-col class="undo width-26" (click)="undo()" *ngIf="swipedPropositions.length > 0">
      <ion-icon name="undo"></ion-icon>
      <p>Annuler</p>
    </ion-col>
    <ion-col class="undo width-26" *ngIf="swipedPropositions.length == 0"></ion-col>
    <!--APPROVED-->
    <ion-col class="approved width-37" (click)="voteUp(true)">
      <ion-icon name="checkmark"></ion-icon>
      <p>Approuver</p>
    </ion-col>
  </ion-row>

</ion-content>
