<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Statistiques</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="independant-card">

  <!--Head of stats page: tag-->
  <!--TODO: Think about a template for several tags-->
  <ion-card class="title-theme">
    <ion-card-header>
      <img id="theme" src="{{getIcon(tags[0], 0)}}"/>
      {{tags[0].name}}
    </ion-card-header>
    <hr>
    <!--Pictures and names of candidates-->
    <ion-card-content>
      <ion-grid>
        <!--TODO: Think about to adapt the template for more than 2 candidates-->
        <ion-row>
          <ion-col width-50 class="image-candidate" *ngFor="let c of candidates">
            <div>
              <img class="candidate-stats" src="{{getPhoto(c, 'small')}}"/>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50 class="candidate-name" *ngFor="let c of candidates">
            {{c.firstName}} {{c.lastName}}
          </ion-col>
        </ion-row>

        <!--Swipe results-->
        <ion-row>
          <ion-col width-50 class="results-icons">
            <ion-icon *ngFor="let proposition of displayAnswers[candidates[0].id].yes" name="checkmark" class="vote-yes"></ion-icon>
          </ion-col>
          <ion-col width-50 class="results-icons">
            <ion-icon *ngFor="let proposition of displayAnswers[candidates[0].id].yes" name="checkmark" class="vote-yes"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50 class="results-icons">
            <ion-icon *ngFor="let proposition of displayAnswers[candidates[1].id].no" name="close" class="vote-no"></ion-icon>
          </ion-col>
          <ion-col width-50 class="results-icons">
            <ion-icon *ngFor="let proposition of displayAnswers[candidates[1].id].no" name="close" class="vote-no"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!--TODO: Find a way to retrieve the candidate photo here => add the url in the displayAnswers object?-->
  <!--Propositions summary-->
  <div *ngFor="let answer of answers" text-wrap>
    <ion-item *ngIf="answer.approved == true">
      <ion-avatar item-left>
        <img src="{{displayAnswers[answer.candidateId].photo}}">
      </ion-avatar>
      <h2>{{answer.candidateId}} – <ion-icon name="checkmark" class="vote-yes"></ion-icon></h2>
      <p>{{answer.proposition}}</p>
    </ion-item>
    <ion-item *ngIf="answer.approved == false">
      <ion-avatar item-left>
        <img src="{{displayAnswers[answer.candidateId].photo}}">
      </ion-avatar>
      <h2>{{answer.candidateId}} – <ion-icon name="close" class="vote-no"></ion-icon></h2>
      <p>{{answer.proposition}}</p>
    </ion-item>
  </div>

  <!--Go to home page button-->
  <button (click)="goHome()" ion-button round class="again-button">Faire un autre test</button>

</ion-content>
