.candidate-stats {
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40%;
  height: 40%;
}

#theme {
  width: 10%;
  height: 10%;
  float: left;
  margin-right: 3%;
  margin-left: -3%;
  margin-top: -2%;
}

.image-candidate {
}

.vote-yes {
  //display: block;
  //padding: 3px;
  color: #2ec95c;
  background-color: white;
}

.vote-no {
  //display: block;
  //padding: 3px;
  color: #e13838;
  background-color: white;
}

.badge-result {
  background-color: white;
}

hr {
  margin-top: -2%;
}

.candidate-name {
  text-align: center;
  font-size: 2vmax;
}


.results-icons {
  text-align: center;
}


.title-theme {
  font-size: 2.6vmax;
}

.independant-card {
  float: left;
}

.proposition-yes {
  font-size: 1.5vmax;
  background-color: #30d05f;
}

.proposition-no {
  font-size: 1.5vmax;
  background-color: #f53d3d;
}

.candidate-proposition-picture {
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.propositions-cards {
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 3px;
  padding-left: 6px;
}

.again-button {
  background-color: #f53d3d;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
