.independant-card {
  float: left;
}

.title-theme {
  font-size: 2.6vmax;
  font-family: Montserrat, Open Sans, sans-serif;
}

#theme {
  width: 10%;
  height: 10%;
  float: left;
  margin-right: 3%;
  margin-left: -3%;
  margin-top: -2%;
}

hr {
  margin-top: -2%;
}

.candidate-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40%;
  height: 40%;
}

.candidate-name {
  text-align: center;
  font-size: 2vmax;
  font-family: Montserrat, Open Sans, sans-serif;
}

.vote-yes {
  //display: block;
  //padding: 3px;
  color: #2ec95c;
  background-color: white;
}

.vote-no {
  //display: block;
  //padding: 3px;
  color: #e13838;
  background-color: white;
}

#results-row-2 {
  margin-top: -5%;
}

.results-icons {
  text-align: center;
}

.again-button {
  background-color: #f53d3d;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  font-color: white;
}
