<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Statistiques</ion-title>
    <ion-buttons end>
      <button ion-button (click)="starCard(activeCard)">
        <ion-icon *ngIf="activeCard.isStar" name="star"></ion-icon>
        <ion-icon *ngIf="!activeCard.isStar" name="star-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="independant-card">

  <!--Head of stats page: tag-->
  <!--TODO: Think about a template for several tags-->
  <ion-card class="title-theme">
    <ion-card-header>
      <img id="theme" src="{{getIcon(tags[0],0)}}"/>
      <h2>{{tags[0].name}}</h2>
    </ion-card-header>
    <!--Pictures and names of candidates-->
    <ion-card-content>
      <hr id="after-theme">
      <ion-grid>
        <!--TODO: Think about to adapt the template for more than 2 candidates-->
        <ion-row>
          <ion-col width-50 *ngFor="let c of candidacies">
            <div>
              <img class="candidate-image" src="{{getPhoto(c.candidates[0],0)}}">
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50 class="candidate-name" *ngFor="let c of candidacies">
            <h3>{{getName(c.candidates[0])}}</h3>
          </ion-col>
        </ion-row>

        <!--Swipe results-->
        <ion-row>
          <ion-col width-50 class="results-icons" *ngFor="let c of candidacies">
            <ion-icon *ngFor="let answer of getAnswers(c,true)" name="checkmark" class="vote-yes"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row id="results-row-2">
          <ion-col width-50 class="results-icons" *ngFor="let c of candidacies">
            <ion-icon *ngFor="let answer of getAnswers(c,false)" name="close" class="vote-no"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!--Display a message for each candidate with no proposition on this theme-->
  <div *ngFor="let candidateName of getCandidatesWithoutProposition()" class="no-proposition">
    Nous n'avons pas de proposition pour {{candidateName}} sur ce thème.
    <hr>
  </div>

  <!--Propositions summary-->
  <div *ngFor="let answer of answers" text-wrap>
    <ion-item>
      <ion-avatar item-left>
        <img src={{getPhoto(getCandidate(answer.proposition.candidacy.id),0)}}>
      </ion-avatar>
      <h2>{{getName(getCandidate(answer.proposition.candidacy.id))}} – <ion-icon *ngIf="answer.approved" name="checkmark" class="vote-yes"></ion-icon><ion-icon *ngIf="!answer.approved" name="close" class="vote-no"></ion-icon></h2>
      <p>{{answer.proposition.text}}</p>
    </ion-item>
  </div>

  <ion-grid>
    <ion-row class="action-button">
      <ion-col col-6>
        <button (click)="restartQuizz()" ion-button icon-left outline small>
          <ion-icon name="refresh"></ion-icon>
          Recommencer
        </button>  
      </ion-col>
      <ion-col col-6>
        <button (click)="archiveCard()" ion-button icon-left outline small>
          <ion-icon name="archive"></ion-icon>
          Archiver
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!--Go to home page button-->
  <button (click)="goHome()" ion-button round icon-left class="home-button">
    <ion-icon name="home"></ion-icon>
    Retourner à l'accueil
  </button>


</ion-content>
