.tuto {
	background-color: #ff5a5f;
}

.h1_slide_1{
	margin-top: 1rem;
	font-size: 3.5rem;
	color: white;
	font-family: Montserrat, Open Sans, sans-serif;
	font-variant: small-caps;
}

.h2_slide_1 {
	padding-left: 10%;
	padding-right: 10%;
	font-size: 2rem;
	font-family: Montserrat, Open Sans, sans-serif;
	color: white;
}

#icon-swipe {
	margin-top: 10%;
	margin-bottom: 10%;
	height: 6em;
	width: 5em;
}

.title_slide_2 {
  margin-bottom: 7em;
}

.h1_slide_2 {
  color: #ff5a5f;
  font-family: Montserrat, Open Sans, sans-serif;
  font-variant: small-caps;
}

.h2_slide_2 {
  color: #222222;
  font-size: 2rem;
  font-family: Montserrat, Open Sans, sans-serif;
}

.swipe-button {
  background-color: #ff5a5f;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: inherit;
}
